[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pdfminer.six" = "*"
beautifulsoup4 = "*"
camelot = "*"
pandas = "*"
numpy = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.12"
