[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pdfminer.six" = "20231228"
beautifulsoup4 = "4.12.3"
camelot = "12.6.29"
pandas = "2.2.2"
numpy = "1.26.4"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.12"
